.root {
    padding: 15px;
    background: #2C3333;
    color: #ffffff;
    min-height: 100%;

}

/*------------------Films-----------------------*/
.filmsList{
    list-style: none;
    margin: 0;
    padding-left: 0;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.filmItem {
    width: 450px;
    min-height: 387px;
    border: 1px solid #CBE4DE;
    border-radius: 10px;
    padding: 20px;
}

.filmTitle {
    font-size: 20px;
    margin-top: 0;
    background: #CBE4DE;
    padding: 10px;
    text-align: center;
    color: #2C3333;
}

.filmDesc {
    font-size: 12px;
}

/*------------------Characters-----------------------*/
.charactersList {
    max-height: 135px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style: none;
    padding: 10px;
    font-size: 14px;
}

/*------------------Loader-----------------------*/
.lds-ellipsis {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 17px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #CBE4DE;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 4px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 4px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 16px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 28px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(12px, 0);
    }
}
